:root{
    --bgcolor: #49184E;
    --fontfam: "Space Gothic", sans-serif;
    --textcolor: white;
}

/*----------Removing unneccessary default css--------*/
*{
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none
}

.flex, .flexondesktop{
    display: flex;
}

body{
    background-color: var(--bgcolor);
    font-family: var(--fontfam);
    color: var(--textcolor);
    padding-top: 30px;
    max-width: 90%;
}

nav{
    font-family: 'Space Grotesk';
    color: white;
}

.hiddenondesktop{
    display: none;
}


nav li{
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: fit-content;
    align-items: center;
}

nav li span{
    text-align: center;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li.search{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0px 4px 24px -1px rgba(184, 66, 208, 0.25);
    backdrop-filter: blur(25px);
    padding: 4px;
    border-radius: 20px;
    border: 1px solid white;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

nav li.search input{
    background-color: inherit;
    border: none;
    outline: none;
    font-weight: 500;
    width: 270px;
    font-size: 17px;
    padding: 10px 15px;
    font-family: var(--fontfam);
    color: var(--textcolor);
    color: var(--textcolor);
    
}
nav li.search .glyphicon-search{
    width: auto;
    height: 20px;
}

div.row .thumbnail{
    background-color: var(--bgcolor);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0px 4px 24px -1px rgba(184, 66, 208, 0.25);
    backdrop-filter: blur(25px);
    padding: 15px;
    width: 127%;
}

div.row{
    width: fit-content;
    margin: auto;
}